<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap" rel="stylesheet">
    <title>TO-DO LIST</title>
</head>
<body>
    <div id="container">
        <div id="input-area">
            <input type="text" id="tarefa-input" placeholder="Digite uma tarefa:">
            <input type="text" id="tarefa-descricao" placeholder="Digite a descrição:">
            <button id="btn-adicionar">Adicionar</button>
        </div>
    </div>

    <div id="lista-tarefas">
        <div id="item-tarefa">
            <h1 id="item-titulo">Estudar</h1>
            <button id="btn-check">Check</button>
        </div>
    </div>
</body>
</html>